<section class="p-5" id="Contact me-section">
    <div class="container">
        <h1 class="text-center">Sign Up</h1>
        <div class="row">
            <form class="row g-3" action="/signup" method="POST">
                <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Name" name="Name">
              </div>
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="Email">
                </div>
                <div class="col-md-12">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="tel" class="form-control" id="inputPassword4" placeholder="Password" name="Password">
                </div>

                <div class="col-12 form-group text-center">
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</section>